html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font: 85%/0.9 arial, helvetica, sans-serif;
  background: #F9F9F9;
  line-height: 130%;
  width: 100%;
  min-width: 130px;
  color: black;
}

label {
  background: black no-repeat;
  color: #ddd;
  font-size: 12px;
  padding: 5px 10px 4px;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  display: inline;
}

input {
  padding: 5px;
}

.logo {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 120px;
  top: 10px;
}

.header {
  height: 87px;
  width: 940px;
  margin-left: 350px;
  border-bottom: 1px solid #000;
}

.menu {
  float: right;
}

.line-border {
  position: relative;
  float: left;
  padding: 0px;
  border-right: thin solid gray;
  height: 8px;
  margin: 65px -31px 0px;
}

.nav-items {
  list-style: none;
  margin-right: 20px;
}

.nav-items .nav-links {
  float: left;
  margin-top: 56px;
  margin-right: 60px;
}

.nav-items .nav-links a {
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  font-weight: 700 !important;
  padding: 10px 10px 0px 10px;
}

.nav-items .nav-links:hover a {
  background-color: black;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-items .nav-links:hover a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #000000 transparent transparent transparent;
  left: 40%;
}

.nav-links .active {
  background-color: black;
  color: white !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-links .active:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #000000 transparent transparent transparent;
  left: 40%;
}

.wrapper {
  margin-left: 340px;
}

.wrapper .left {
  letter-spacing: -2px;
}

.wrapper h3 {
  font-size: 78px;
  text-transform: uppercase;
  width: 40%;
  line-height: 0.8;
  font-weight: bolder;
}

.wrapper p {
  font-size: 52px;
  text-transform: uppercase;
  width: 46%;
  line-height: 0.8;
  font-weight: bolder;
  margin-top: -72px;
}

.wrapper p span {
  font-size: 46px;
  line-height: 1;
}

.wrapper h5 {
  font-size: 12px;
  color: #606060;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  width: 35%;
  margin-top: -40px;
  line-height: 1.5;
}

.right img {
  margin-left: -400px;
  margin-top: 60px;
}

footer {
  position: relative;
  color: #666666;
  font-size: 11px;
}

footer img {
  height: 92px;
  margin-top: 30px;
  margin-left: 100px;
}

footer .container-fluid {
  padding-top: 30px;
  height: 200px;
  background-color: #000;
  padding-left: 350px;
}

footer .float-left {
  float: left;
  padding-right: 70px;
}

footer .dosome {
  float: left;
  height: 34px;
  margin-top: 0;
  margin-left: 1px;
}

footer .nav {
  float: left;
  padding-left: 50px;
}

footer .nav a {
  color: #3f3d3d;
  text-decoration: none;
}

footer .nav a:hover {
  color: #ADADA2;
  text-decoration: underline;
}

.float-right {
  margin-left: 140px;
  float: right;
  text-align: right;
}

.about-image {
  margin-left: 400px;
  margin-top: 120px;
}

.about-image img {
  position: relative;
}

.head {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700 !important;
  margin-left: 400px;
  line-height: 1;
}

.left1 {
  float: left;
  color: #666666;
  margin-left: 400px;
  width: 320px;
  font-size: 14px;
  padding-bottom: 100px;
  padding-right: 40px;
}

.right1 {
  float: left;
  color: #666666;
  width: 320px;
  font-size: 14px;
  padding-bottom: 100px;
}

.right1 a {
  color: #666666;
}

.main {
  margin-top: 50px;
  margin-left: 200px;
  font-size: 12px;
  width: 12px;
}

.main h3 {
  font-size: 36px;
  float: left;
  line-height: 65px;
  margin-left: 34px;
}

.main h3.active a {
  color: #000;
}

.main .hover {
  text-decoration: none;
  font-weight: normal;
  color: #666;
}

.main .hover:hover {
  color: #000;
}

.main .hover strong {
  padding-left: 10px;
}

.main .hover .fa {
  font-size: 20px;
  float: left;
  padding-right: 10px;
  margin-left: -30px;
  margin-top: 22px;
}

.containers {
  display: block;
  height: 728px;
  margin: 0 0 5px;
  padding: 0;
  overflow: hidden;
  width: 970px;
  line-height: 1.4;
}

.containers .sub-head {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding-bottom: 40px;
}

.containers .sub-head .nav-menu {
  height: 89px;
  padding: 20px 30px;
  border-bottom: 1px dotted #bababa;
}

.containers .sub-head .nav-menu .nav-items {
  float: left;
  padding-right: 77px;
}

.nav-menu a {
  color: #666666;
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-menu a:hover {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-decoration: none !important;
}

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.frame {
  height: 560px;
  padding-top: 40px;
}

.text {
  float: left;
  width: 295px;
  color: gray;
  padding: 20px;
  margin-top: 10px;
}

.text .name1 {
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin-bottom: 2px;
}

.text .type1 {
  font-weight: bold;
  margin-bottom: 10px;
  font-style: italic;
}

.text p {
  font-size: 13px;
}

.text .black-button {
  background-color: #000;
  padding-left: 5px;
  font-size: 11px;
  width: 81px;
  margin-top: 40px;
  font-style: italic;
}

.text .black-button a {
  color: #fff !important;
  font-weight: 600;
}

.text .black-button a:hover {
  text-decoration: none !important;
}

#slide-image {
  position: relative;
  width: 590px;
  height: 506px;
  float: right;
}

#slide-image .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  color: #F9F9F9;
  background-color: #000;
}

#slide-image .carousel-indicators {
  bottom: -40px;
}

.carousel-fade {
  transition: opacity ease-out 1.7s;
}

.control {
  color: #000;
}

.control:hover {
  opacity: 0.3;
  color: #000;
}

.fa-nav {
  font-size: 35px !important;
  padding-right: 9px;
  margin-left: -22px !important;
  padding-left: 5px;
  background-color: #f9f9f9;
}

.fa-nav1 {
  font-size: 35px !important;
  padding-left: 9px;
  padding-right: 5px;
  background-color: #f9f9f9;
}

.fa-nav:hover,
.fa-nav1:hover {
  color: #000 !important;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  visibility: hidden;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  visibility: visible;
}

.container1 {
  margin-top: 100px;
  font-size: 12px;
}

.container1 .left1 a {
  text-decoration: none;
  color: #000;
  font-size: 36px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  margin-left: -20px;
}

.container1 .sidebar {
  color: #000;
  font-size: 17px;
  padding-top: 25px;
  text-transform: uppercase;
}

.container1 .sidebar .sidebarnav ul {
  margin-top: 16px;
  list-style: none;
  margin-left: -18px;
}

.container1 .sidebar .sidebarnav ul li {
  font-size: 14px !important;
  color: gray;
}

.container1 .sidebar .sidebarnav ul a {
  color: gray;
  font-size: 14px !important;
  font-weight: normal !important;
  text-transform: none !important;
}

.container1 .sidebar .sidebarnav ul a:hover {
  text-decoration: underline;
}

.container1 .sidebar .sidebarnav ul .fa-plus-circle {
  color: #000 !important;
  font-size: 21px !important;
  margin-right: 5px;
}

